/* Hero.module.css */

/* Hero */
.hero_section {
  /* position the hero over the fixed 50vh video at the top */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center; /* center inner wrapper horizontally */
  align-items: center; /* center inner wrapper vertically */

  text-align: center; /* center text inside */
  padding: 0 5vw;
  z-index: 10;
}
.hero_inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 5vw; /* same side padding as header & mainInner */
}
.span {
  color: #d0d4d6;
  font-size: large;
}

.hero_content {
  /* max-width: 520px; */
}

.hero_content h1 {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  margin-bottom: 0.75rem;
  color: #ffffff;
  align-items: center;
}

.hero_content h2 {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #e0e5f5;
}

/* Button */
.primary_button {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  border-radius: 999px;
  border: none;
  text-decoration: none;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background: linear-gradient(135deg, #00c4ff, #00f3b0);
  color: #031018;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  box-shadow: 0 10px 25px rgba(0, 200, 200, 0.45);
  align-items: center;
}

.primary_button:hover {
  background-color: #1d4ed8;
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(37, 99, 235, 0.35);
}

@media (max-width: 768px) {
  .hero_section {
    min-height: 20vh;
  }
  .hero_content h1  {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 0.75rem;
    color: #ffffff;
  }

  .hero_content h2 {
    /* font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #e0e5f5; */
    display: none;
  }
}
