.footer {
  background-color: rgb(220, 233, 244);
  padding: 1rem 5vw 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: #324649;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  position: fixed;   /* ← keeps it stuck to bottom */
  bottom: 0;
  left: 0;
  width: 100%;       /* full width */
  z-index: 10;
}