.home {
  /* background: url("/images/sea2.jpg") center/cover no-repeat; */
  padding: 120px 20px;
  text-align: center;
}

.home-title {
  font-size: 48px;
  font-weight: 900;
  color: var(--color-dark);
  margin-bottom: 16px;
}

.home-text {
  font-size: 18px;
  color: #4b5563;
  margin-bottom: 20px;
}
